html {
  position: relative;
}
body {
  padding-top: 50px;
  margin-bottom: 60px;
}
.starter-template {
  padding: 10px 15px;
}
.header {
  background: url(header_bg_02.png) repeat-x center 0;
  background-size: 100% 100%;
}
.header .navbar-brand {
  color: #FFFFFF;
  font-weight: bold;
}
.navbar-brand {
  background: url(header_logo_150x50.png) no-repeat center 0;
  height: 50px;
  width: 150px;
}
#navbar li a {
  color: #FFFFFF;
}
.footer {
  position: absolute;
  width: 100%;
  bottom: 0;
  /* Set the fixed height of the footer here */
  height: 40px;
  background-color: #533628;
}
.footer .text-muted {
  margin: 12px 0;
  text-align: center;
  color: #ffffff;
  font-size: 80%;
}
