.star-rating {
  position: relative;
  width: 5em;
  height: 1em;
  font-size: 200%;

}
.star-rating-front {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  color: #ffcc33;
}
.star-rating-back {
  color: #ccc;
}
.txt1{
font-size: 2vh;
}
.photo1{
width: 30%;
height: 30%;
}
.photo2{
width:auto;
height : 3em;
}
.title_font{
color: #404040;
font-weight: bold;
}

