html {
  position: relative;
}
body {
  padding-top: 50px;
  margin-bottom: 60px;
}
.starter-template {
  padding: 10px 15px;
}
h1 {
  font-size: 18px;
  color: #533628;
  border-bottom: 3px solid;
  border-left: 10px solid;
  border-color: #533628;
  padding: 5px 10px;
}
.header {
  background: url(header_bg_02.png) repeat-x center 0;
  background-size: 100% 100%;
}
.header .navbar-brand {
  color: #FFFFFF;
  font-weight: bold;
}
.navbar-brand {
  background: url(header_logo_150x50.png) no-repeat center 0;
  height: 50px;
  width: 150px;
}
#navbar li a {
  color: #FFFFFF;
}
.footer {
  position: absolute;
  width: 100%;
  bottom: 0;
  /* Set the fixed height of the footer here */
  height: 40px;
  background-color: #533628;
}
.footer .text-muted {
  margin: 12px 0;
  text-align: center;
  color: #ffffff;
  font-size: 80%;
}
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600,700);
.star-ratings-css {
  unicode-bidi: bidi-override;
  color: #c5c5c5;
  font-size: 25px;
  height: 25px;
  width: 100px;
  margin: 0 auto;
  position: relative;
  padding: 0;
  text-shadow: 0px 1px 0 #a2a2a2;
}
.star-ratings-css-top {
  color: #e7711b;
  padding: 0;
  position: absolute;
  z-index: 1;
  display: block;
  top: 0;
  left: 0;
  overflow: hidden;
}
.star-ratings-css-bottom {
  padding: 0;
  display: block;
  z-index: 0;
}
.star-ratings-sprite {
  background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/2605/star-rating-sprite.png") repeat-x;
  font-size: 0;
  height: 21px;
  line-height: 0;
  overflow: hidden;
  text-indent: -999em;
  width: 110px;
  margin: 0 auto;
}
.star-ratings-sprite-rating {
  background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/2605/star-rating-sprite.png") repeat-x;
  background-position: 0 100%;
  float: left;
  height: 21px;
  display: block;
}
